openapi: 3.0.0
info:
  version: '2024-06-03'
  title: 'Collections API Reference'
  x-logo:
    url: https://www.zuora.com/wp-content/uploads/2016/10/zuora-dev-logo-api-ref.svg

  description: >

    # Introduction


    This is the REST API reference for Zuora Collections. This reference provides detailed descriptions about functions, requests, and responses of the APIs for the following two component apps. Rest APIs for other component apps will 
    be included in this reference when they are released.

    - Advanced Payment Manager

    - Collections Window

    - Configurable Payment Retry

    - Notes

    - Statement Generator


    
    **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).

    # Authentication

    Advanced Payment Manager, Collections Window, Configurable Payment Retry, and Statement Generator use basic authentication. The user name is your email address for logging in to Zuora. The password is the API token shown in the Collections feature's settings. Notes use API-token only for authentication. Alternatively, you can use "API-Token" as the header key and the API token shown in the Setting of Notes as the value.


    **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).

    # Base URLs

     Base URLs for different components are different. Click the drop-down arrow at the end of an endpoint to display the full endpoint.  

tags:
  - name: Advanced Payment Manager
    description: >
      Advanced Payment Manager APIs use basic authentication. The user name is the email address that you use for logging in Zuora. The password is the API token that is shown in the settings of Advanced Payment Manager.
      
      Before you use the APIs, ensure that you have completed the initial configurations of Advanced Payment Manager. To learn more about the configuration and usage of Advanced Payment Manager, see
      [Advanced Payment Manager](https://knowledgecenter.zuora.com/CE_Collect/CA_Advanced_Payment_Manager).  


      **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).

  - name: Collections Window
    description: >
      Collections Window APIs use basic authentication. The user name is the email address that you use for logging in Zuora. The password is the API token that is shown in the settings of Collections Window.

      To learn more about the configuration and usage of Collections Window, see [Collections Window](https://knowledgecenter.zuora.com/CE_Collect/Collections_Window).


      **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).

  - name: Configurable Payment Retry
    description: >
      Configurable Payment Retry APIs use basic authentication. The user name is the email address that you use for logging in Zuora. The password is the API token that is shown in the settings of Configurable Payment Retry.

      To learn more about the configuration and usage of Configurable Payment Retry, see [Configurable Payment Retry](https://knowledgecenter.zuora.com/CE_Collect/Configurable_Payment_Retry).

  - name: Notes
    description: >
      Notes APIs use API-token only for authentication. You need to use "API-Token" as the header key and the api token that is shown in the Setting of Notes as the value.  

      To learn more about the configuration and usage of Notes, see [Notes](https://knowledgecenter.zuora.com/CE_Collect/Notes).

      
      **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).

  - name: Statement Generator
    description: >

      Statement Generator APIs use basic authentication. The user name is the email address that you use for logging in Zuora. The password is the API token that is shown in the settings of Statement Generator.  

      To learn more about the configuration and usage of Statement Generator, see [Statement Generator](https://knowledgecenter.zuora.com/CE_Collect/Statement_Generator).  


      **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).

paths:
# Start of Advanced Payment Manager operations
  /api/v1/subscription_payment_runs/{payment_run_id}:
    get:
      servers:
        - url: https://advanced-payment-manager.apps.zuora.com
      operationId: GET_PaymentRun
      summary: Get a payment run
      description: >
        Gets details about a particular payment run based on a payment run id in
        Advanced Payment Manager. 


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Advanced Payment Manager
      parameters:
        - in: path
          name: payment_run_id
          required: true
          schema:
            type: integer
          description: The payment run ID. A payment run id in Advanced Payment Manager is different from a payment run id in Zuora.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETPaymentRunResponse"
              examples:
                response:
                  value:
                    success: true
                    id: 6
                    status: Complete
                    target_date: 2018-01-02
                    filter: Account.Currency = 'CAD'
                    payment_run_schedule_id: Adhoc
                    invoices_held: {}
                    metrics:
                      documents: 0
                      payments: 0
                      failed: 0
                      skipped: 0
                      amount: 0
                      credit: 0

  /api/v1/subscription_payment_runs:
    post:
      servers:
        - url: https://advanced-payment-manager.apps.zuora.com
      description: >
        Creates a payment run to be executed immediately. You must specify the
        **target_date** field. You can specify one or more filters to determine
        which receivables are to be paid in the payment run.


        If you use a custom filter, you cannot use other filters. 


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).

      summary: Create a payment run
      operationId: POST_PaymentRun
      tags:
        - Advanced Payment Manager
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/POSTPaymentRun"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/POSTPaymentRunResponse"
            application/json:
              examples:
                response:
                  value:
                    id: 6
                    success: "true"
  /api/v1/payment_run_schedules:
    get:
      servers:
        - url: https://advanced-payment-manager.apps.zuora.com
      operationId: GET_PaymentRunSchedules
      summary: Get all payment run schedules
      description: |
        Retrieves all payment run schedules in Advanced Payment Manager.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Advanced Payment Manager
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETPaymentRunSchedulesResponse"
              examples:
                response:
                  value:
                    success: true
                    size: 3
                    schedules:
                      - id: 6
                        status: Active
                        filter: Account.BillCycleDay = 8
                        schedule: At 6:00 AM, only on Monday and Tuesday

    post:
      servers:
        - url: https://advanced-payment-manager.apps.zuora.com
      description: |
        Creates a payment run schedule. 


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      summary: Create a payment run schedule
      operationId: POST_PaymentRunSchedule
      tags:
        - Advanced Payment Manager
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/POSTPaymentRunSchedule"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/POSTPaymentRunScheduleResponse"
            application/json:
              examples:
                response:
                  value:
                    id: 6
                    success: "true"
  "/api/v1/payment_run_schedules/{schedule_id}":
    get:
      servers:
        - url: https://advanced-payment-manager.apps.zuora.com
      operationId: GET_PaymentRunSchedule
      summary: Get a payment run schedule
      description: |
        Gets details about a particular payment run schedule.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Advanced Payment Manager
      parameters:
        - in: path
          name: schedule_id
          required: true
          schema:
            type: integer
          description: The schedule ID
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETPaymentRunScheduleResponse"
              examples:
                response:
                  value:
                    success: true
                    id: 6
                    status: Active
                    filter: Account.BillCycleDay = 8
                    schedule: At 6:00 AM, only on Monday and Tuesday
    put:
      servers:
        - url: https://advanced-payment-manager.apps.zuora.com
      operationId: PUT_PaymentRunSchedule
      summary: Update a payment run schedule
      description: |
        Updates details about a particular payment run schedule.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Advanced Payment Manager
      parameters:
        - in: path
          name: schedule_id
          required: true
          schema:
            type: integer
          description: The schedule ID
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/PUTPaymentRunSchedule"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/POSTPaymentRunScheduleResponse"
              examples:
                response:
                  value:
                    id: 6
                    success: true
    delete:
      servers:
        - url: https://advanced-payment-manager.apps.zuora.com
      operationId: DELETE_PaymentRunSchedule
      summary: Cancel a payment run schedule
      description: |
        Cancels a payment run schedule.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Advanced Payment Manager
      parameters:
        - in: path
          name: schedule_id
          required: true
          schema:
            type: integer
          description: The schedule ID
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DELETEPaymentRunScheduleResponse"
              examples:
                response:
                  value:
                    success: true

# start of Statement Generator operations
  /api/v1/fetch_statement?statement_number={statement_number}:
    get:
      servers:
        - url: https://statement-generator.apps.zuora.com
      operationId: GET_Statement
      summary: Get a statement
      description: |
        Gets details about a particular statement. The statement will be available for download in the response.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Statement Generator
      parameters:
        - in: path
          name: statement_number
          required: true
          schema:
            type: integer
          description: The statement number
      responses:
        "200":
          description: ""

  /api/v1/fetch_statements?account_id={account_id}&count={count}:
    get:
      servers:
        - url: https://statement-generator.apps.zuora.com
      operationId: GET_Statements
      summary: Get multiple statements
      description: |
        Gets multiple statements for a specified account. The links to the downloadable statements will be included in the response.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Statement Generator
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: integer
          description: The ID of the account
        - in: path
          name: count
          required: true
          schema:
            type: integer
          description: The number of statements you want to retrieve.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETStatementsResponse"
              examples:
                response:
                  value:
                    success: true
                    count: 2
                    statements:
                      - statement_name: "STA00000232.pdf"
                        statement_time: "12/19/2018 11:19:26 EST"
                        s3_link: "https://rbm-apps.s3.amazonaws.com/StatementDataFeed/production/1311124/2c92c0f9692e5e4321692fcb1cd57936/STA00000232.pdf"
                        starting_date: "2018-05-01T00:00:00.000-04:00"
                        ending_date: "2018-12-19T00:00:00.000-05:00"
                      - statement_name: "STA00000076.pdf"
                        statement_time: "12/19/2018 11:13:57 EST"
                        s3_link: "https://rbm-apps.s3.amazonaws.com/StatementDataFeed/production/13555524/2c92c0f9876e5e4321692fcb1cd56666/STA00000076.pdf"
                        starting_date: "2018-08-01T00:00:00.000-04:00"
                        ending_date: "2018-12-19T00:00:00.000-05:00"

  /api/v1/fetch_settings:
    get:
      servers:
        - url: https://statement-generator.apps.zuora.com
      operationId: GET_Settings
      summary: Get Statement Generator settings
      description: |
        Gets several key settings of Statement Generator, including the available templates, whether Invoice Settlement is enabled on the tenant, the name of the default template, and the statement cycle being used.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Statement Generator
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETStatementSettingsResponse"
              examples:
                response:
                  value:
                    success: true
                    templates:
                      - name: "Default Template"
                      - name: "Template for end consumers"  
                    default_template: "Default Template"
                    default_cycle: "Month"
                    
  /api/v1/run:
    post:
      servers:
        - url: https://statement-generator.apps.zuora.com
      operationId: POST_AdhocStatementRun
      summary: Create an ad hoc statement run
      description: |
        Create an ad hoc statement run. 


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Statement Generator
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/POSTAdhocStatementRun"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/POSTAdhocStatementRunResponse"
              examples:
                response:
                  value:
                    success: true
                    code: 200
                    message: "Success"
                    statement_number: "STA00000008"
  /api/v1/execute:
    post:
      servers:
        - url: https://statement-generator.apps.zuora.com
      operationId: POST_CustomStatementRun
      summary: Create a custom statement run
      description: |
        Create a custom statement run. 


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Statement Generator
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/POSTCustomStatementRun"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/POSTCustomStatementRunResponse"
              examples:
                response:
                  value:
                    success: true
                    code: 200
                    message: "Success"
                    execution_number: "2"
                    report_file: "<aws_s3_link>"

# start of Notes operations
  /api/v1/notes?object={object}&notesId={notesId}:
    get:
      servers:
        - url: https://notes.apps.zuora.com
      operationId: GET_NotesObject
      summary: Get a Notes object
      description: |
        Gets a Notes object by its object type and ID.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Notes
      parameters:
        - in: query
          required: true
          name: object
          schema:
            type: string
            example: "Accounts"
          description: The object type. The value can be "Accounts" or "Invoices" for Collections Window.
        - in: query
          required: true
          name: notesId
          schema:
            type: string
            example: "2c92c0f866a9a8fe0166bd04878b2867"
          description: The ID of the Notes object. It is an account number (32-digit hex) for Accounts object type, and an invoice number for Invoices object type.
        - in: header
          required: true
          name: API-Token
          description: The API token that is shown in the settings of Notes. It is a 64-digit hex number.
          schema:
            type: string
            example: "a48865e51c3f4610de8f319bdd7bf691b2aaad827ed31ad1dd6847e617200666"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesObject"
              example:
                success: true
                data:
                  id: 113
                  object: "Accounts"
                  notesId: "2c92c0f866a9a8fe0166bd04878b2867"
                  notesParentId: "Account Name Example"
                  createdAt: "2020-02-12T21:50:59.774Z"
                  updatedAt: "2020-02-12T21:50:59.774Z"
  /api/v1/notes:
    post:
      servers:
        - url: https://notes.apps.zuora.com
      operationId: POST_NotesObject
      summary: Create a Notes object
      description: |
        Creates a Notes object.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Notes
      parameters:
        - in: header
          required: true
          name: API-Token
          description: The API token that is shown in the settings of Notes. It is a 64-digit hex number.
          schema:
            type: string
            example: "a48865e51c3f4610de8f319bdd7bf691b2aaad827ed31ad1dd6847e617200666"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              type: object
              properties:
                notes:
                  type: object
                  properties:
                    object:
                      type: string
                      description: 
                        The type of the object. It can be "Accounts" or "Invoices" for Collections Window.
                    notesId:
                      type: string
                      description:
                        The ID of the notes object that you need to specify. It is an account number (32-digit hex) for Accounts object type, and an invoice number for Invoices object type.
                    notesParentId:
                      type: string
                      description:
                        The ID of the parent object. For "Accounts" object, this parameter is the account name that the Notes object is created for.
              example:
                notes:
                  object: "Accounts"
                  notesId: "2c92c0f866a9a8fe0166bd04878b2867"
                  notesParentId: "Account Name Example"
        required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesObject"
              example:
                success: true
                data:
                  id: 113
                  object: "Accounts"
                  notesId: "2c92c0f866a9a8fe0166bd04878b2867"
                  notesParentId: "Account Name Example"
                  createdAt: "2020-02-12T21:50:59.774Z"
                  updatedAt: "2020-02-12T21:50:59.774Z"
  /api/v1/notes/comments?notesId={notesId}&notesParentId={notesParentId}&object={object}:
    get:
      servers:
        - url: https://notes.apps.zuora.com
      operationId: GET_Comments
      summary: Get comments
      description: |
        Gets comments for a Notes object.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Notes
      parameters:
        - in: query
          required: true
          name: notesId
          schema:
            type: string
            example: "2c92c0f866a9a8fe0166bd04878b2867"
          description: The ID of the Notes object. It is an account number (32-digit hex) for Accounts object type, and an invoice number for Invoices object type.
        - in: query
          required: true
          name: notesParentId
          schema:
            type: string
            example: "Account Name Example"
          description: The ID of the parent object. For Accounts object type, the notesParentId is an account name.
        - in: query
          required: true
          name: object
          schema:
            type: string
            example: "Accounts"
          description: The object type. The value can be "Accounts" or "Invoices" for Collections Window.

        - in: query
          name: start_date
          schema:
            type: string
            example: "2020-12-01"
          description: |
            The start date of the period within which the comments are exported.

        - in: query
          name: end_date
          schema:
            type: string
            example: "2020-12-31"
          description: |
            The end date of the period within which the comments are exported.



        - in: header
          required: true
          name: API-Token
          description: The API token that is shown in the settings of Notes. It is a 64-digit hex number.
          schema:
            type: string
            example: "a48865e51c3f4610de8f319bdd7bf691b2aaad827ed31ad1dd6847e617200666"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesObjectWithComment" 
              example:
                success: true
                data:
                  id: 113
                  object: "Accounts"
                  notesId: "2c92c0f866a9a8fe0166bd04878b2867"
                  notesParentId: "Account Name Example"
                  createdAt: "2020-02-12T21:50:59.774Z"
                  updatedAt: "2020-02-12T21:50:59.774Z"
                  comments:
                    - id: 121
                      body: "Call Customer please"
                      image: null
                      attachment: null
                      attachmentSize: null
                      createdAt: "2020-02-12T19:26:07.624Z"
                      updatedAt: "2020-02-12T19:26:07.624Z"
                      user:
                        id: 5
                        username: "vina@megan.sbx"
                        connectIdentity: "2c92c0f96512a90f01651a566d4250f7"
                        email: "asdfa@yahoo.com"
                        firstName: "Vina"
                        lastName: "Lim"
                        fullName: "Vina Lim"
                        platformRole: "ADMIN"
                        timeZone: "America/New_York"
                        createdAt: "2020-01-09T13:41:05.662Z"
                        updatedAt: "2020-01-30T15:46:17.063Z"
                        escalationUser: "Vina LimEscalation"
                        escalationUserId: "2c92c0f96512a90f01651a566d4250f8"
                        approvalAmount: 0.0
                        avatar: "https://rbm-apps.s3.amazonaws.com/Notes/staging/2020012309011579791462.jpg"
                      replies:
                        - id: 57
                          body: "Thank you for contacting <span class=\"atwho-inserted\" data-atwho-at-query=\"@vina\" contenteditable=\"false\"><b><b>@vina@megan.sbx</b></b></span>&nbsp;"
                          image: null
                          attachment: null
                          attachmentSize: null
                          createdAt: "2020-02-12T19:26:17.952Z"
                          updatedAt: "2020-02-12T19:26:17.968Z"
                          user:
                            id: 5
                            username: "vina@megan.sbx"
                            connectIdentity: "2c92c0f96512a90f01651a566d4250f7"
                            email: "asdfa@yahoo.com"
                            firstName: "Vina"
                            lastName: "Lim"
                            fullName: "Vina Lim"
                            platformRole: "ADMIN"
                            timeZone: "America/New_York"
                            createdAt: "2020-01-09T13:41:05.662Z"
                            updatedAt: "2020-01-30T15:46:17.063Z"
                            escalationUser: "Vina LimEscalation"
                            escalationUserId: "2c92c0f96512a90f01651a566d4250f8"
                            approvalAmount: 0.0
                            avatar: "https://rbm-apps.s3.amazonaws.com/Notes/staging/2020012309011579791462.jpg"
                pagination:
                  page: 1
                  per_page: 5
                  total_filterd_records: 1
                  total_records: 1
  /api/v1/tasks?allTasks={allTasks}:
    get:
      servers:
        - url: https://notes.apps.zuora.com
      operationId: GET_Tasks
      summary: Get all tasks
      description: |
        Gets all beta tasks.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Notes
      parameters:
        - in: query
          required: true
          name: allTasks
          schema:
            type: boolean
            example: true
          description: Whether you want to get all tasks. This parameter must be set to true at this moment.
        - in: header
          required: true
          name: API-Token
          description: The API token that is shown in the settings of Notes. It is a 64-digit hex number.
          schema:
            type: string
            example: "a48865e51c3f4610de8f319bdd7bf691b2aaad827ed31ad1dd6847e617200666"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesTasksResponse"
              example:
                success: true
                data:
                  tasks:
                    - id: 113
                      task: "Call Customer"
                      description: "Call customer"
                      dueDate: "2020-02-01T00:00:00.000Z"
                      completedAt: null
                      createdAt: "2020-01-30T19:58:39.896Z"
                      updatedAt: "2020-01-30T20:01:04.844Z"
                      reminderDate: "2020-01-31T00:00:00.000Z"
                      notifications: null
                      status: "ESCALATED"
                      comment: ""
                      autoEscalation: null
                      createdBy:
                        id: 5
                        username": "vina@megan.sbx"
                        connectIdentity": "2c92c0f96512a90f01651a566d4250f7"
                        email": "asdfa@yahoo.com"
                        firstName": "Vina"
                        lastName": "Lim"
                        fullName": "Vina Lim"
                        platformRole": "ADMIN"
                        timeZone": "America/New_York"
                        createdAt": "2020-01-09T13:41:05.662Z"
                        updatedAt": "2020-01-30T15:46:17.063Z"
                        escalationUser": "Vina LimEscalation"
                        escalationUserId": "2c92c0f96512a90f01651a566d4250f8"
                        approvalAmount": 0.0
                        avatar: "https://rbm-apps.s3.amazonaws.com/Notes/staging/2020012309011579791462.jpg"
                      assignTo:
                        id: 2
                        username": "vina@megan.sbx"
                        connectIdentity": "2c92c0f96512a90f01651a566d425555"
                        email": "asdfa@yahoo.com"
                        firstName": "Vina"
                        lastName": "Lim"
                        fullName": "Vina Lim"
                        platformRole": "ADMIN"
                        timeZone": "America/New_York"
                        createdAt": "2020-01-09T13:41:05.662Z"
                        updatedAt": "2020-01-30T15:46:17.063Z"
                        escalationUser": "Vina LimEscalation"
                        escalationUserId": "2c92c0f96512a90f01651a566d425666"
                        approvalAmount": 0.0
                        avatar: "https://rbm-apps.s3.amazonaws.com/Notes/staging/2020012309011579733362.jpg"
  /api/v1/groups:
    get:
      servers:
        - url: https://notes.apps.zuora.com
      operationId: GET_Groups
      summary: Get all groups
      description: |
        Gets all groups and users in the groups.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Notes
      parameters:
        - in: header
          required: true
          name: API-Token
          description: The API token that is shown in the settings of Notes. It is a 64-digit hex number.
          schema:
            type: string
            example: "a48865e51c3f4610de8f319bdd7bf691b2aaad827ed31ad1dd6847e617200666"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesGroupsResponse"
              example:
                success: true
                groups:
                  id: 113
                  name: "NYC Office"
                  description: "Engineers in NYC"
                  created_at: "2020-02-12T21:50:59.774Z"
                  updated_at: "2020-02-12T21:50:59.774Z"
                  users:
                    - id: 5
                      username: "vina@megan.sbx"
                      connect_identity: "2c92c0f96512a90f01651a566d4250f7"
                      email: "asdfa@yahoo.com"
                      firstname: "Vina"
                      lastname: "Lim"
                      platformrole: "ADMIN"
                      timezone: "America/New_York"
                      created_at: "2020-01-09T13:41:05.662Z"
                      updated_at: "2020-01-30T15:46:17.063Z"
                      escalation_user_id: "2c92c0f96512a90f01651a566d4250f8"
                      escalation_user: "Vina LimEscalation"
                      approval_amount: 0.0
                      image:
                        url: "https://rbm-apps.s3.amazonaws.com/Notes/staging/2020012309011579791462.jpg"
    post:
      servers:
        - url: https://notes.apps.zuora.com
      operationId: POST_Groups
      summary: Create a group
      description: |
        Creates a group.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Notes
      parameters:
        - in: header
          required: true
          name: API-Token
          description: The API token that is shown in the settings of Notes. It is a 64-digit hex number.
          schema:
            type: string
            example: "a48865e51c3f4610de8f319bdd7bf691b2aaad827ed31ad1dd6847e617200666"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/NotesCreateGroupBody"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesCreateGroupResponse"
              example:
                success: true
                id: 113
                name: "NYC Office"
                description: "Engineers in NYC"
                created_at: "2020-02-12T21:50:59.774Z"
                updated_at: "2020-02-12T21:50:59.774Z"
                users:
                  - id: 5
                    username: "vina@megan.sbx"
                    connect_identity: "2c92c0f96512a90f01651a566d4250f7"
                    email: "asdfa@yahoo.com"
                    firstname: "Vina"
                    lastname: "Lim"
                    platformrole: "ADMIN"
                    timezone: "America/New_York"
                    created_at: "2020-01-09T13:41:05.662Z"
                    updated_at: "2020-01-30T15:46:17.063Z"
                    escalation_user_id: "2c92c0f96512a90f01651a566d4250f8"
                    escalation_user: "Vina LimEscalation"
                    approval_amount: 0.0
                    image:
                      url: "https://rbm-apps.s3.amazonaws.com/Notes/staging/2020012309011579791462.jpg"

  /api/v1/groups/{group_name}:
    get:
      servers:
        - url: https://notes.apps.zuora.com
      operationId: GET_Group
      summary: Get a group and its users
      description: |
        Gets a group and all of its users.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Notes
      parameters:
        - in: path
          required: true
          description: The name of the group.
          name: group_name
          schema:
            type: string
          example: "NYC Office"
        - in: header
          required: true
          name: API-Token
          description: The API token that is shown in the settings of Notes. It is a 64-digit hex number.
          schema:
            type: string
            example: "a48865e51c3f4610de8f319bdd7bf691b2aaad827ed31ad1dd6847e617200666"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesGroupsResponse"
              example:
                success: true
                groups:
                  id: 113
                  name: "NYC Office"
                  description: "Engineers in NYC"
                  created_at: "2020-02-12T21:50:59.774Z"
                  updated_at: "2020-02-12T21:50:59.774Z"
                  users:
                    - id: 5
                      username: "vina@megan.sbx"
                      connect_identity: "2c92c0f96512a90f01651a566d4250f7"
                      email: "asdfa@yahoo.com"
                      firstname: "Vina"
                      lastname: "Lim"
                      platformrole: "ADMIN"
                      timezone: "America/New_York"
                      created_at: "2020-01-09T13:41:05.662Z"
                      updated_at: "2020-01-30T15:46:17.063Z"
                      escalation_user_id: "2c92c0f96512a90f01651a566d4250f8"
                      escalation_user: "Vina LimEscalation"
                      approval_amount: 0.0
                      image:
                        url: "https://rbm-apps.s3.amazonaws.com/Notes/staging/2020012309011579791462.jpg"
    put:
      servers:
        - url: https://notes.apps.zuora.com
      operationId: PUT_Group
      summary: Update a group
      description: |
        Updates information about an existing group. The operation returns the updated group information and all of its users.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Notes
      parameters:
        - in: query
          required: true
          description: The name of the group.
          name: group_name
          schema:
            type: string
          example: "NYC Office"
        - in: header
          required: true
          name: API-Token
          description: The API token that is shown in the settings of Notes. It is a 64-digit hex number.
          schema:
            type: string
            example: "a48865e51c3f4610de8f319bdd7bf691b2aaad827ed31ad1dd6847e617200666"
      requestBody:
        content:
          application/json; charset=utf-8:
            schema:
              $ref: "#/components/schemas/NotesUpdateGroupBody"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesCreateGroupResponse"
              example:
                success: true
                id: 113
                name: "NYC Office"
                description: "Engineers in NYC"
                created_at: "2020-02-12T21:50:59.774Z"
                updated_at: "2020-02-12T21:50:59.774Z"
                users:
                  - id: 5
                    username: "vina@megan.sbx"
                    connect_identity: "2c92c0f96512a90f01651a566d4250f7"
                    email: "asdfa@yahoo.com"
                    firstname: "Vina"
                    lastname: "Lim"
                    platformrole: "ADMIN"
                    timezone: "America/New_York"
                    created_at: "2020-01-09T13:41:05.662Z"
                    updated_at: "2020-01-30T15:46:17.063Z"
                    escalation_user_id: "2c92c0f96512a90f01651a566d4250f8"
                    escalation_user: "Vina LimEscalation"
                    approval_amount: 0.0
                    image:
                      url: "https://rbm-apps.s3.amazonaws.com/Notes/staging/2020012309011579791462.jpg"
    delete:
      servers:
        - url: https://notes.apps.zuora.com
      operationId: DELETE_Group
      summary: Delete a group
      description: |
        Deletes an existing group. The operation returns the deleted group information and all of its users.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Notes
      parameters:
        - in: query
          required: true
          description: The name of the group.
          name: group_name
          schema:
            type: string
          example: "NYC Office"
        - in: header
          required: true
          name: API-Token
          description: The API token that is shown in the settings of Notes. It is a 64-digit hex number.
          schema:
            type: string
            example: "a48865e51c3f4610de8f319bdd7bf691b2aaad827ed31ad1dd6847e617200666"
 #     requestBody:
 #       content:
 #         application/json; charset=utf-8:
 #           schema:
 #             $ref: "#/components/schemas/NotesDeleteGroupBody"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotesCreateGroupResponse"
              example:
                success: true
                id: 113
                name: "NYC Office"
                description: "Engineers in NYC"
                created_at: "2020-02-12T21:50:59.774Z"
                updated_at: "2020-02-12T21:50:59.774Z"
                users:
                  - id: 5
                    username: "vina@megan.sbx"
                    connect_identity: "2c92c0f96512a90f01651a566d4250f7"
                    email: "asdfa@yahoo.com"
                    firstname: "Vina"
                    lastname: "Lim"
                    platformrole: "ADMIN"
                    timezone: "America/New_York"
                    created_at: "2020-01-09T13:41:05.662Z"
                    updated_at: "2020-01-30T15:46:17.063Z"
                    escalation_user_id: "2c92c0f96512a90f01651a566d4250f8"
                    escalation_user: "Vina LimEscalation"
                    approval_amount: 0.0
                    image:
                      url: "https://rbm-apps.s3.amazonaws.com/Notes/staging/2020012309011579791462.jpg"       
  
  /api/v1/accounts/{account_id}:
    get:
      servers:
        - url: https://collections-window.apps.zuora.com
      operationId: GET_Account
      summary: Get an account
      description: |
        Gets details about a particular account.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Collections Window
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: The account ID.
          example: "2c92c0f86680fd090166a578754812bd"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionAccount"
              examples:
                response:
                  value:
                    name: "Testing Account"
                    zuora_id: "2c92c0f863f2b1680163f579b7e705da"
                    in_collections: true
                    collections_agent: 2018-01-02
                    account_currency: "CAD"
                    home_currency: "USD"
                    amount_due_account_currency: 15540.0
                    amount_due_home_currency: 800.55
                    last_open_invoice_date: "2018-06-12"
                    average_debt_age: "194.4 days"
                    statuses:
                      In Collections: true
                      Pending: false
                      In Dispute: false
                      Paid In Full: false
  /api/v1/accounts:
    get:
      servers:
        - url: https://collections-window.apps.zuora.com
      operationId: GET_Accounts
      summary: Get all accounts
      description: |
        Gets all accounts that are currently or have been in collection.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Collections Window
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETCollectionAccountsResponse"
              examples:
                response:
                  value:
                    accounts:
                      - name: "Testing Account"
                        zuora_id: "2c92c0f863f2b1680163f579b7e705da"
                        in_collections: true
                        collections_agent: 2018-01-02
                        account_currency: "CAD"
                        home_currency: "USD"
                        amount_due_account_currency: 15540.0
                        amount_due_home_currency: 800.55
                        last_open_invoice_date: "2018-06-12"
                        average_debt_age: "194.4 days"
                        statuses:
                          In Collections: 0
                          Pending: 0
                          In Dispute: 0
                          Paid In Full: 0
                    pagination:
                      page: 1
                      page_length: 20
                      next_page: "https://collections-window.apps.zuora.com/api/v1/accounts?page=2&page_length=20"
  /api/v1/users/{email}:
    get:
      servers:
        - url: https://collections-window.apps.zuora.com
      operationId: GET_CollectionsAgent
      summary: Get a collections agent by email
      description: |
        Gets details about a collections agent, including the amount in collections, and the statuses of the accounts that this agent is assigned to.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Collections Window
      parameters:
        - in: path
          name: email
          required: true
          schema:
            type: string
          description: The email of the collections agent.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionAgent"
              examples:
                response:
                  value:
                    name: "Testing User"
                    email: "test@zuora.com"
                    zuora_identity_id: "2c92c0f96178a7a901619b10f5d12345"
                    amount_in_collections: 800.55
                    accounts: 2
                    account_statuses:
                      In Collections: 1
                      Pending: 0
                      In Dispute: 1
                      Paid In Full: 0
  /api/v1/users:
    get:
      servers:
        - url: https://collections-window.apps.zuora.com
      operationId: GET_CollectionsAgents
      summary: Get all collections agents
      description: |
        Gets the details of all collections agents.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Collections Window
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETCollectionAgentsResponse"
              examples:
                response:
                  value:
                    accounts:
                      - name: "Testing User"
                        email: "test@zuora.com"
                        zuora_identity_id: "2c92c0f96178a7a901619b10f5d12345"
                        amount_in_collections: 800.55
                        accounts: 2
                        account_statuses:
                          In Collections: 1
                          Pending: 0
                          In Dispute: 1
                          Paid In Full: 0
                    pagination:
                      page: 1
                      page_length: 20
                      next_page: "https://collections-window.apps.zuora.com/api/v1/users?page=2&page_length=20"
  /api/v1/collections_info:
    get:
      servers:
        - url: https://collections-window.apps.zuora.com
      operationId: GET_CollectionsInfo
      summary: Get an overview of collections
      description: |
        Gets an overview of the collections.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Collections Window
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CollectionsInfo"
              examples:
                response:
                  value:
                    accounts_in_collections: 24
                    home_currency: "USD"
                    total_debt: "8379.78"
                    largest_debts:
                      - "Test Account - 12438.00 USD"
                      - "Jimmy John - 8000.00 USD"
                      - "James Smith - 2450.55 USD"
                      - "Bob Roberts - 1000.00 USD"
                      - "Jim Reynolds - 829.00 USD"
                    oldest_debts:
                      - "Test Account - 2662 days"
                      - "Jimbo - 1494 days"
                      - "Steve Smith - 942 days"
                      - "Jason Williams - 678 days"
                      - "Will Jasons - 365 days"
                    statuses:
                      In Collections: 24
                      Pending: 2
                      In Dispute: 5
                      Paid in Full: 0

#start of Collections Window operations                      
  /api/v1/accounts/{account_id}/update_status:
    post:
      servers:
        - url: https://collections-window.apps.zuora.com
      operationId: POST_Account
      summary: Update account status
      description: |
        Updates the status of an account. You must use the two query parameters to specify the status that you want to update, and the new value of the status.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Collections Window
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: The account ID.
          example: "2c92c0f86680fd090166a578754812bd"
        - in: query
          name: status
          required: true
          schema:
            type: string
          description: The status that you want to update for the specified account. All statuses must be in lower case. Use underscore instead of space to define the status.
          example: "in_dispute"
        - in: query
          name: value
          schema:
            type: boolean
          description: The new value of the status. 0 indicates false, while 1 indicates true.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the operation is successful.
              examples:
                response:
                  value:
                    success: true
                        
  /api/v1/accounts/{account_id}/update_agent:
    post:
      servers:
        - url: https://collections-window.apps.zuora.com
      operationId: POST_AccountAgent
      summary: Update account agent
      description: |
        Updates the collections agent that is displayed within the UI of Collections Window, and the custom field for the agent displayed in account details in the Zuora UI.


        **Note**: The Collections Window, Notes, Advanced Payment Manager, Payment Plans, and Statement Generator features are entering end of support on June 3, 2024. For more information, please refer to the [Product and Feature End of Support page](https://knowledgecenter.zuora.com/Releases/ZProduct_and_feature_end_of_support_plan).
      tags:
        - Collections Window
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: The account ID.
          example: "2c92c0f86680fd090166a578754812bd"
        - in: query
          name: agent_email
          required: true
          schema:
            type: string
          description: The email of the agent.
          example: "jdoe@company.com"

      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether the operation is successful.
              examples:
                response:
                  value:
                    success: true

# Start of Configurable Payment Retry operations
  /api/v1/payments/active_invoice_cycle_information/<invoice_id>:
    get:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: GET_ActiveInvoiceCycle
      summary: Get active retry cycles for an invoice
      description: >
        Gets information of active retry cycles that have not been completed for an invoice in Configurable Payment Retry.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: invoice_id
          required: true
          schema:
            type: string
          description: ID of an invoice.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETActiveInvoiceCycleResponse"

  /api/v1/payments/active_debit_memo_cycle_information/<debit_memo_id>:
    get:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: GET_ActiveDebitMemoCycle
      summary: Get active retry cycles for a debit memo
      description: >
        Gets information of active retry cycles that have not been completed for a debit memo in Configurable Payment Retry.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: debit_memo_id
          required: true
          schema:
            type: string
          description: ID of a debit memo.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETActiveDebitMemoCycleResponse"

  /api/v1/payments/active_account_cycle_information/<account_id>:
    get:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: GET_ActiveAccountCycle
      summary: Get active retry cycles for an account
      description: >
        Gets information of active retry cycles that have not been completed for an account in Configurable Payment Retry.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: ID of an account.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETActiveAccountCycleResponse"

  /api/v1/payments/invoice_cycle_history/<invoice_id>:
    get:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: GET_InvoiceCycleHistory
      summary: Get retry cycle history for an invoice
      description: >
        Gets information of all retry cycles for an invoice in Configurable Payment Retry.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: invoice_id
          required: true
          schema:
            type: string
          description: ID of an invoice.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETInvoiceCycleHistoryResponse"

  /api/v1/payments/debit_memo_cycle_history/<debit_memo_id>:
    get:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: GET_DebitMemoCycleHistory
      summary: Get retry cycle history for a debit memo
      description: >
        Gets information of all retry cycles for a debit memo in Configurable Payment Retry.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: debit_memo_id
          required: true
          schema:
            type: string
          description: ID of a debit memo.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETDebitMemoCycleHistoryResponse"

  /api/v1/payments/account_cycle_history/<account_id>:
    get:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: GET_AccountCycleHistory
      summary: Get retry cycle history for an account
      description: >
        Gets information of all retry cycles for an account in Configurable Payment Retry.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: ID of an account.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETAccountCycleHistoryResponse"

  /api/v1/payments/execute_invoice_payment/<invoice_id>:
    put:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: PUT_ExecuteInvoicePayment
      summary: Execute invoice payment
      description: >
        For all active retry cycles associated with an invoice, schedules the next payment retry attempt to occur in the next hourly payment processor run.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: invoice_id
          required: true
          schema:
            type: string
          description: ID of an invoice.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the operation is successful.
                  message:
                    type: string
                    description: The response message.
                example:
                  {
                    "success": true,
                    "message": "Payments with the following IDs enqueued for processing: [290, 291]"
                  }

  /api/v1/payments/execute_debit_memo_payment/<debit_memo_id>:
    put:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: PUT_ExecuteDebitMemoPayment
      summary: Execute debit memo payment
      description: >
        For all active retry cycles associated with a debit memo, schedules the next payment retry attempt to occur in the next hourly payment processor run.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: debit_memo_id
          required: true
          schema:
            type: string
          description: ID of a debit memo.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the operation is successful.
                  message:
                    type: string
                    description: The response message.
                example:
                  {
                    "success": true,
                    "message": "Payments with the following IDs enqueued for processing: [300]"
                  }

  /api/v1/payments/execute_account_payments/<account_id>:
    put:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: PUT_ExecuteAccountPayments
      summary: Execute account payments
      description: >
        For all active retry cycles associated with an account, schedules the next payment retry attempt to occur in the next hourly payment processor run.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: ID of an account.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the operation is successful.
                  message:
                    type: string
                    description: The response message.
                example:
                  {
                    "success": true,
                    "message": "Payments with the following IDs enqueued for processing: [310, 311, 312]"
                  }

  /api/v1/payments/execute_payments:
    post:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: POST_ExecutePayments
      summary: Execute payments
      description: >
        For all active retry cycles associated with the invoice, debit memo, and/or account IDs provided, schedules the next payment retry attempt to occur in the next hourly payment processor run.
      tags:
        - Configurable Payment Retry
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                account_ids:
                  type: array
                  description: IDs of accounts.
                debit_memo_ids:
                  type: array
                  description: IDs of debit memos.
                invoice_ids:
                  type: array
                  description: IDs of invoices.
              example:
                {
                    "account_ids":
                        [
                            "2c92c0f96bd69165016bdcbf55ad5e62"
                        ],
                    "invoice_ids":
                        [
                            "2c92c0fa7853052701785a38c6622473",
                            "2c92c0fa7849b40a01784bc5de0f760f"
                        ],
                    "debit_memo_ids":
                        [
                            "2c92c0fa7853052701785a38f3bb267f"
                        ]
                }
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the operation is successful.
                  message:
                    type: string
                    description: The response message.
                example:
                  {
                    "success": true,
                    "message": "Payments with the following IDs enqueued for processing: [100, 101, 110, 111, 121]"
                  }

  /api/v1/payments/remove_invoice_from_retry_cycle/<invoice_id>:
    put:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: PUT_RemoveInoviceFromCycle
      summary: Remove an invoice from retry cycle
      description: >
        Stops any active retry cycles associated with the invoice provided.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: invoice_id
          required: true
          schema:
            type: string
          description: ID of an invoice.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the operation is successful.
                  message:
                    type: string
                    description: The response message.
                example:
                  {
                    "success": true,
                    "message": "Payments with the following IDs have been removed from the retry cycle: [290, 291]"
                  }

  /api/v1/payments/remove_debit_memo_from_retry_cycle/<debit_memo_id>:
    put:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: PUT_RemoveDebitMemoFromCycle
      summary: Remove a debit memo from retry cycle
      description: >
        Stops any active retry cycles associated with the debit memo provided.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: debit_memo_id
          required: true
          schema:
            type: string
          description: ID of a debit memo.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the operation is successful.
                  message:
                    type: string
                    description: The response message.
                example:
                  {
                    "success": true,
                    "message": "Payments with the following IDs have been removed from the retry cycle: [301]"
                  }

  /api/v1/payments/remove_account_from_retry_cycle/<account_id>:
    put:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: PUT_RemoveAccountFromCycle
      summary: Remove an account from retry cycle
      description: >
        Stops any active retry cycles associated with the account provided.
      tags:
        - Configurable Payment Retry
      parameters:
        - in: path
          name: account_id
          required: true
          schema:
            type: string
          description: ID of an account.
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the operation is successful.
                  message:
                    type: string
                    description: The response message.
                example:
                  {
                    "success": true,
                    "message": "Payments with the following IDs have been removed from the retry cycle: [310, 311, 312]"
                  }

  /api/v1/payments/submit_failed_payment:
    post:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: POST_SubmitPaymentToCycle
      summary: Submit a payment to retry cycle
      description: >
        This API request submits a failed payment to the Configurable Payment Retry retry cycle. The request adds the failed payment to the existing CPR retry cycle. If no CPR retry cycle exists, this request creates a new one and adds the failed payment.
      tags:
        - Configurable Payment Retry
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                payment_id:
                  type: string
                  description: ID of a failed payment.
              example:
                {
                  "payment_id": "2c92c0867849d42301784bc9ce806c31"
                }
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Indicates whether the operation is successful.
                  message:
                    type: string
                    description: The response message.
                example:
                  {
                    "success": true,
                    "message": "Payment entered into retry process"
                  }

  /api/v1/metrics/baseline:
    get:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: GET_BaselineMetrics
      summary: Get baseline metrics
      description: >
        Gets baseline metrics for Configurable Payment Retry, including Retry Success Rate and trend, Document Success Rate and trend, and Average Days Outstanding and trend. See Response Schema for detailed descriptions of the metrics.
      tags:
        - Configurable Payment Retry
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETBaselineMetricsResponse"

  /api/v1/metrics/amount_recovered:
    get:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: GET_AmountRecovered
      summary: Get the Amount Recovered metrics
      description: >
        Gets the Amount Recovered metrics, including the total amount recovered and the amount recovered over the last 30 days broken down by currency.
      tags:
        - Configurable Payment Retry
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETAmountRecoveredResponse"

  /api/v1/metrics/customer_group_over_time:
    get:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: GET_DocumentSuccessRateByCustomerGroup
      summary: Get the Document Success Rate metrics by customer group
      description: >
        Gets the Document Success Rate timeseries for each customer group over the past 6 months.
        The data of the current month will not be included. For example, if it is April 15th today, the data for April will not be included. Data for March and earlier will be shown.
      tags:
        - Configurable Payment Retry
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETDocumentSuccessRateByCustomerGroupResponse"

  /api/v1/metrics/customer_group:
    get:
      servers:
        - url: https://payment-retry.apps.zuora.com
      operationId: GET_CustomerGroupMetrics
      summary: Get the Customer Group metrics
      description: >
        Gets the following metrics for each customer group that is in the active status:
          - Document Success Rate and trend
          - Retry Success Rate
          - Average Attempts
      tags:
        - Configurable Payment Retry
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GETCustomerGroupMetricsResponse"

components:
  schemas:
    GETCustomerGroupMetricsResponse:
      type: object
      properties:
        customer_groups:
          type: array
          description: |
            An array containing the following information for each customer group.
              - Customer group ID
              - Customer group name
              - Whether Smart Retry is enabled for this customer group
              - Document Success Rate indicating the percentage of billing documents that are successfully collected
              - The trend of change in Document Success Rate over the last 30 days
              - Retry Success Rate indicating the percentage of the successful payment attempts
              - Average Attempts indicating the average number of attempts required to recover funds
        success:
          type: boolean
          description: |
            Indicates whether the metrics are retrieved successfully.

            If no data is loaded yet, a 200 response code will be returned with the success field set to `true`. All expected fields will be present but the value will be `null`.
      example:
        {
          "customer_groups": [
            {
              "id": 1,
              "name": "batch22",
              "smart_retry": false,
              "document_success_rate": "17.17", 
              "document_success_rate_trend": "up",
              "retry_success_rate": "21.76",
              "average_attempts": "4.11"
            },
            {
              "id": 2,
              "name": "Smart Retry",
              "smart_retry": true,
              "document_success_rate": "74.17",
              "document_success_rate_trend": "down",
              "retry_success_rate": "81.21", 
              "average_attempts": "1.32"
            },
            { 
              "id": 4,
              "name": "All Remaining Customers",
              "smart_retry": false,
              "document_success_rate": "16.35",
              "document_success_rate_trend": "up",
              "retry_success_rate": "15.21",
              "average_attempts": "3.32"
            }
          ],
          "success": true
        }

    GETDocumentSuccessRateByCustomerGroupResponse:
      type: object
      properties:
        customer_groups:
          type: array
          description: |
            An array containing the Document Success Rate timeseries for each customer group represented by the customer group ID.
            A timeseries over the past 6 months is present in the format of `<month_year>: <document_success_rate>`. The data of the current month is not included. For example, if it is April 15th today, the data for April will not be included. Data for March and earlier will be shown.
        success:
          type: boolean
          description: |
            Indicates whether the metrics are retrieved successfully.

            If no data is loaded yet, a 200 response code will be returned with the success field set to `true`. All expected fields will be present but the value will be `null`.
      example:
        {
          "customer_groups": {
            "1": {
              "05_21": "17.53",
              "04_21": "13.21",
              "03_21": "14.92",
              "02_21": "8.99",
              "01_21": "34.25",
              "12_20": "12.30",
            },
            "2": {
              "05_21": "11.11",
              "04_21": "7.87",
              "03_21": "26.00",
              "02_21": "11.06",
              "01_21": "13.43",
              "12_20": "17.92",
            },
            "4": {
              "05_21": "11.13",
              "04_21": "9.17",
              "03_21": "17.20",
              "02_21": "19.06",
              "01_21": "12.43",
              "12_20": "15.92",
            }
          },
          "success": true
        }

    GETAmountRecoveredResponse:
      type: object
      properties:
        currency:
          type: array
          description: |
            An array containing the following information for each available currency.
            If no payment of a given currency has been processed over the last 30 days, the currency will not appear in the array.
              - The total amount recovered to date
              - The amount recovered over the last 30 days
        success:
          type: boolean
          description: |
            Indicates whether the metrics are retrieved successfully.

            If no data is loaded yet, a 200 response code will be returned with the success field set to `true`. All expected fields will be present but the value will be `null`.
      example:
        {
          "currency": {
            "USD": {
              "total_amount": "77515.21",
              "last_30_days": "1100.01"
            },
            "EUR": {
              "total_amount": "337.19",
              "last_30_days": "17.17"
            },
            "CAD": {
              "total_amount": "123954.10",
              "last_30_days": "5132.87"
            }
          },
          "success": true
        }

    GETBaselineMetricsResponse:
      type: object
      properties:
        retry_success_rate:
          type: number
          description: |
            The percentage of successful payment attempts for all customer groups on this Configurable Payment Retry instance so far.
            
            Retry Success Rate = Number of successful retry payment attempts / Total number of retry payments attempted

            Payment attempts here are any payment attempts executed by Configurable Payment Retry, excluding the initial payment run.
        retry_success_rate_trend:
          type: string
          description: |
            The trend of change in Retry Success Rate over the last 30 days.
        document_success_rate:
          type: number
          description: |
            The percentage of billing documents that are successfully collected, for all customer groups on this Configurable Payment Retry instance so far.
            
            Document Success Rate = Number of billing documents collected / Total number of billing documents attempted

            Billing documents collected are any invoices and debit memos that were paid through the payment attempt initiated by Configurable Payment Retry.
        document_success_rate_trend:
          type: string
          description: |
            The trend of change in Document Success Rate over the last 30 days.
        average_days_outstanding:
          type: number
          description: |
            The average number of days invoices and debit memos are unpaid before collection, for all customer groups on this Configurable Payment Retry instance so far.
        average_days_outstanding_trend:
          type: string
          description: |
            The trend of change in Average Days Outstanding over the last 30 days.
        success:
          type: boolean
          description: |
            Indicates whether the metrics are retrieved successfully.

            If no data is loaded yet, a 200 response code will be returned with the success field set to `true`. All expected fields will be present but the value will be `null`.
      example:
        {
          "retry_success_rate": "11.90",
          "retry_success_rate_trend": "down",
          "document_success_rate": "13.54",
          "document_success_rate_trend": "neutral",
          "average_days_outstanding": "4.76",
          "average_days_outstanding_trend": "up",
          "success": true
        }

    GETActiveInvoiceCycleResponse:
      type: object
      properties:
        cycles:
          type: array
          items:
            $ref: '#/components/schemas/GETInvoiceCycleElementResponse'
          description: |
            An array containing information of all active retry cycles for an invoice. See the schema and example for details.
      example:
        {
          "cycles": [
          {
            "account_id": "2c92c0f96bd69165016bdccdd6ce2f29",
            "invoice_id": "2c92c0f8778bf8cd017798168cb50e0b",
            "payment_method_id": "2c92c0f9774f2b3e01775f6f06d87b61",
            "currency": "USD",
            "status": "Cycle Incomplete",
            "current_attempt_number": 2,
            "next_attempt": "2021-04-01T19:27:34.648Z",
            "customer_group": "All Remaining Customers",
            "attempts": [
                {
                    "attempt_number": 1,
                    "zuora_payment_id": "2c92c0867849d42301784bc9ca076c21",
                    "time_of_execution": "2021-03-19T18:42:20.103Z",
                    "source": "PR-00000371",
                    "cpr_generated": false,
                    "success": false,
                    "amount_collected": "0.0",
                    "action_info": {
                        "action": "Retry"
                    },
                    "retry_info": {
                        "next": "2021-04-01T19:27:34.648-09:00",
                        "criteria": "incremental_time"
                    },
                    "mapping_info": {
                        "label": "Hard Decline",
                        "level": "code",
                        "customer_group_id": 1
                    },
                    "gateway_info": {
                        "id": "2c92c0f85e2d19af015e3a61d8947e5d",
                        "code": "insufficient_funds",
                        "response": "Your card has insufficient funds."
                    }
                },
                {
                    "attempt_number": 2,
                    "zuora_payment_id": "2c92c09c7849d3c101784bce0d0a06d5",
                    "time_of_execution": "2021-03-19T18:52:24.137Z",
                    "source": "PR-00000372",
                    "cpr_generated": true,
                    "success": false,
                    "amount_collected": "0.0",
                    "action_info": {
                        "action": "Retry"
                    },
                    "retry_info": {
                        "next": "2021-03-19T09:53:39.845-09:00",
                        "criteria": "incremental_time"
                    },
                    "mapping_info": {
                        "label": "Hard Decline",
                        "level": "code",
                        "customer_group_id": 1
                    },
                    "gateway_info": {
                        "id": "2c92c0f85e2d19af015e3a61d8947e5d",
                        "code": "insufficient_funds",
                        "response": "Your card has insufficient funds."
                    }
                  }
              ]
            }
          ]
        }

    GETInvoiceCycleElementResponse:
      type: object
      title: retry cycle object
      properties:
        account_id:
          type: string
          description: |
            The ID of the customer account.
        invoice_id:
          type: string
          description: |
            The ID of the invoice.
        payment_method_id:
          type: string
          description: |
            The ID of the payment method.
        currency:
          type: string
          description: |
            The type of the currency used.
        status:
          type: string
          description: |
            The status of the retry cycle.
        current_attempt_number:
          type: number
          description: |
            The number of the current retry attempt.
        next_attempt:
          type: string
          format: date-time
          description: |
            The date and time of the next retry attempt, in `yyyy-mm-dd hh:mm:ss` format.
        customer_group:
          type: string
          description: |
            The name of the customer group.
        attempts:
          type: array
          description: |
            An array containing information of the retry attempts that have been made. See the schema and example for details.
          items:
            $ref: '#/components/schemas/GETCycleElementAttemptResponse'

    GETCycleElementAttemptResponse:
      type: object
      title: retry attempt object
      properties:
        attempt_number:
          type: number
          description: |
            The number of the retry attempt.
        zuora_payment_id:
          type: string
          description: |
            The ID of the payment in Zuora Payments.
        time_of_execution:
          type: string
          format: date-time
          description: |
            The date and time when the retry attempt was made, in `yyyy-mm-dd hh:mm:ss` format.
        source:
          type: string
          description: |
            The number of the failed payment run.
        cpr_generated:
          type: boolean
          description: |
            Indicates whether the first retry attempt was generated by Configurable Payment Retry. 

            `true` for the cases of the first retry attempt generated by CPR and the second or later attempt.
            
            `false` for the cases that the retry attempt was made by the payment run or an external source during retry cycles.
            
        success:
          type: boolean
          description: |
            Indicates whether the retry attempt is successful.
        amount_collected:
          type: number
          description: |
            The amount collected in this retry attempt.
        action_info:
          type: object
          description: |
            Information about the action of the retry attempt.
          properties:
            action:
              type: string
              description: |
                The action taken in the retry attempt.
        retry_info:
          type: object
          description: |
            Information about the next retry attempt.
          properties:
            next:
              type: string
              format: date-time
              description: |
                The date and time of the next retry attempt as determined by `criteria`, in `yyyy-mm-dd hh:mm:ss` format.
            criteria:
              type: string
              description: |
                The criteria defined in the retry configuration in the CPR UI, to specify whether the next retry will occur in an incremental time or at a specific time or day.
        mapping_info:
          type: object
          description: |
            Information about the response code mapping for the retry attempt.
          properties:
            label:
              type: string
              description: |
                The response code label, can be `Hard Decline`, `Soft Decline`, `System Error`, or custom labels.
            level:
              type: string
              description: |
                The response code level for the payment gateway, can be `Code` or `Description`.
            customer_group_id:
              type: number
              description: |
                The ID of the customer group.
        gateway_info:
          type: object
          description: |
            Information about the payment gateway.
          properties:
            id:
              type: string
              description: |
                The ID of the payment gateway.
            code:
              type: string
              description: |
                The response code from the gateway.
            response:
              type: string
              description: |
                The response message from the gateway.

    GETActiveDebitMemoCycleResponse:
      type: object
      properties:
        cycles:
          type: array
          items:
            $ref: '#/components/schemas/GETDebitMemoCycleElementResponse'
          description: |
            An array containing information of all active retry cycles for a debit memo. See the schema and example for details.
      example:
        {
          "cycles": [
          {
            "account_id": "2c92c0f868e161e70168e25eb51d755f",
            "debit_memo_id": "2c92c0fa7853052701785a38f3bb267f",
            "payment_method_id": "2c92c0f8774f1afe01775f6e533c4c06",
            "currency": "USD",
            "status": "Cycle Incomplete",
            "current_attempt_number": 2,
            "next_attempt": "2021-04-01T10:22:57.464Z",
            "customer_group": "All Remaining Customers",
            "attempts": [
                {
                    "attempt_number": 1,
                    "zuora_payment_id": "2c92c085785305e201785a51af791979",
                    "time_of_execution": "2021-03-23T16:50:18.878Z",
                    "source": "PR-00000376",
                    "cpr_generated": false,
                    "success": false,
                    "amount_collected": "0.0",
                    "action_info": {
                        "action": "Retry"
                    },
                    "retry_info": {
                        "next": "2021-03-23T07:51:30.380-09:00",
                        "criteria": "incremental_time"
                    },
                    "mapping_info": {
                        "label": "Hard Decline",
                        "level": "code",
                        "customer_group_id": 1
                    },
                    "gateway_info": {
                        "id": "2c92c0f85e2d19af015e3a61d8947e5d",
                        "code": "insufficient_funds",
                        "response": "Your card has insufficient funds."
                    }
                },
                {
                    "attempt_number": 2,
                    "zuora_payment_id": "2c92c0857881cf3e01788ee263b0331c",
                    "time_of_execution": "2021-04-01T19:21:55.207Z",
                    "source": "PR-00000380",
                    "cpr_generated": true,
                    "success": false,
                    "amount_collected": "0.0",
                    "action_info": {
                        "action": "Retry"
                    },
                    "retry_info": {
                        "next": "2021-04-01T10:22:57.464-09:00",
                        "criteria": "incremental_time"
                    },
                    "mapping_info": {
                        "label": "Hard Decline",
                        "level": "code",
                        "customer_group_id": 1
                    },
                    "gateway_info": {
                        "id": "2c92c0f85e2d19af015e3a61d8947e5d",
                        "code": "insufficient_funds",
                        "response": "Your card has insufficient funds."
                    }
                }
              ]
            }
          ]
        }

    GETDebitMemoCycleElementResponse:
      type: object
      title: retry cycle object
      properties:
        account_id:
          type: string
          description: |
            The ID of the customer account.
        debit_memo_id:
          type: string
          description: |
            The ID of the debit memo.
        payment_method_id:
          type: string
          description: |
            The ID of the payment method.
        currency:
          type: string
          description: |
            The type of the currency used.
        status:
          type: string
          description: |
            The status of the retry cycle.
        current_attempt_number:
          type: number
          description: |
            The number of the current retry attempt.
        next_attempt:
          type: string
          format: date-time
          description: |
            The date and time of the next retry attempt, in `yyyy-mm-dd hh:mm:ss` format.
        customer_group:
          type: string
          description: |
            The name of the customer group.
        attempts:
          type: array
          description: |
[...]
