swagger: '2.0'
info:
  version: '2020-02-10'
  title: Active Rating API
  x-logo:
    url: https://www.zuora.com/wp-content/uploads/2016/10/zuora-dev-logo-api-ref.svg
  description: ''
  contact:
    email: docs@zuora.com
host: rest.zuora.com
basePath: /
schemes:
  - https
consumes:
  - application/json; charset=utf-8
produces:
  - application/json; charset=utf-8
tags:
  - name: Usage (with Active Rating)
    description: |
      **Note:** The Usage (with Active Rating) operations are part of the [Active Rating](https://knowledgecenter.zuora.com/CB_Billing/J_Billing_Operations/H_Active_Rating) feature. You cannot use these operations with the [Usage](/v1-api-reference/api/usage) operations.

      If a 500 or 502 error occurs when you call any of the Usage (with Active Rating) operations, the first troubleshooting step is to retry the call.
paths:
  /usage:
    post:
      summary: Create usage records
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Creates a single or multiple usage records for an account. The account that you want to create usage records for must have a corresponding usage-based rate plan charge.

        For more information about the usage data format, see [Usage Data Import](https://knowledgecenter.zuora.com/CB_Billing/J_Billing_Operations/H_Active_Rating/Usage_Data_Import).
      operationId: POST_UsageRecords
      tags:
        - Usage (with Active Rating)
      consumes:
        - application/vnd.zuora.usage-bulk+json;charset=UTF-8
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: Content-Type
          in: header
          description: |
            The type of the request content.

            - If you create multiple usage records, you must specify the value of this parameter to `application/vnd.zuora.usage-bulk+json`.


            - If you create a single usage record, you do not need to specify this field.
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/POSTUsageRecordRequestType'
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/POSTUsageRecordResponseType'
          examples:
            application/json:
              data:
                - id: 448219e0-faa4-4fd7-b13e-ecd308a92454
                - id: 850fe5c1-8d2d-45e4-a01e-875a0199e108
        '400':
          description: Bad Request
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: Invalid date format
                errors:
                  - objectName: usage
                    field: startDateTime
                    reason: InvalidDateFormat
                    message: Invalid date format
        '409':
          description: Conflict
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: 'There is already a usage record with the same uniqueKey. The uniqueKey must be unique, value: abc'
                errors:
                  - objectName: usage
                    field: uniqueKey
                    reason: DuplicateValue
                    message: 'There is already a usage record with the same uniqueKey. The uniqueKey must be unique, value: abc'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: An internal error occurred. Please retry the request.
      x-code-samples:
        - lang: Curl
          source: |-
            curl -X POST -H "Authorization: Bearer 6d151216ef504f65b8ff6e9e9e8356d3" -H "Content-Type: application/vnd.zuora.usage-bulk+json" -d '{
                "data": [
                    {
                        "accountNumber": "A00002689",
                        "description": "Disk usage for A00002689",
                        "groupId": "Group A",
                        "quantity": "15",
                        "startDateTime": "2017-01-14T21:32:00+08:00",
                        "tag": "AccountNumber:A00002689",
                        "unitOfMeasure": "Each"
                    },
                    {
                        "accountNumber": "A00002689",
                        "description": "Disk usage for A00002689",
                        "groupId": "Group B",
                        "quantity": "15",
                        "startDateTime": "2017-01-14T21:32:00+08:00",
                        "tag": "AccountNumber:A00002689",
                        "unitOfMeasure": "Each"
                    }
                ]
            }' "https://rest.zuora.com/usage"
  /usage/{id}:
    put:
      summary: Update usage record
      operationId: PUT_UsageRecord
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Updates certain information of a specified usage record. Note that you can only update usage records that are not billed.
      tags:
        - Usage (with Active Rating)
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: id
          in: path
          description: |
            The ID of the usage record you want to update.
          required: true
          type: string
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PUTUsageType'
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              id: 035e35bd-880a-47c9-99df-830143b13aed
          schema:
            $ref: '#/definitions/PUTUpdateUsageResponseType'
        '400':
          description: Bad Request
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: Invalid date format
                errors:
                  - objectName: usage
                    field: startDateTime
                    reason: InvalidDateFormat
                    message: Invalid date format
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: The usage record 03c816b4-60a2-4586-9625-0003ce35010a could not be found.
                errors:
                  - objectName: usage
                    reason: ResourceNotFound
                    message: The usage record 03c816b4-60a2-4586-9625-0003ce35010a could not be found.
        '409':
          description: Conflict
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: 'There is already a usage record with the same uniqueKey. The uniqueKey must be unique, value: abc'
                errors:
                  - objectName: usage
                    field: uniqueKey
                    reason: DuplicateValue
                    message: 'There is already a usage record with the same uniqueKey. The uniqueKey must be unique, value: abc'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: Usage has been already billed and invoiced, and can no longer be modified 03c816b4-60a2-4586-9625-3ce3bc65010a
    get:
      summary: Get usage record
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves information about a specific usage record.
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: id
          in: path
          description: |
            The ID of the usage record you want to retrieve.
          required: true
          type: string
      operationId: GET_UsageRecord
      tags:
        - Usage (with Active Rating)
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              id: 03c816b4-60a2-4586-9625-3ce3bc65010a
              accountNumber: A00000001
              tag: ChargeNumber:C-00000003
              quantity: 30
              unitOfMeasure: Each
              groupId: B
              startDateTime: '2017-02-03T00:00:00Z'
              uniqueKey: null
              description: null
              importId: null
              fileName: null
              status: Processed
              customFields:
                username: Grace
                age: 20
              createdOn: '2017-11-17T00:38:15.961Z'
              createdBy: 1dfee841-92f2-4da1-8ab1-4f7b45df9feb
              updatedOn: '2017-11-17T00:41:29.196Z'
              updatedBy: 1dfee841-92f2-4da1-8ab1-4f7b45df9feb
          schema:
            $ref: '#/definitions/GETUsageResponseType'
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: The usage record ab123-34f could not be found.
                errors:
                  - objectName: usage
                    reason: ResourceNotFound
                    message: The usage record ab123-34f could not be found.
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: An internal error occurred. Please retry the request.
    delete:
      summary: Delete usage record
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Deletes a usage record. Note that you can only delete usage records with the Pending or Rated status.
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: id
          in: path
          description: |
            The ID of the usage record you want to delete.
          required: true
          type: string
      operationId: DELETE_UsageRecord
      tags:
        - Usage (with Active Rating)
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              success: 'true'
          schema:
            $ref: '#/definitions/DELETEUsageResponseType'
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: The usage record 03c816b4-60a2-4586-9625-0003ce35010a could not be found.
                errors:
                  - objectName: usage
                    reason: ResourceNotFound
                    message: The usage record 03c816b4-60a2-4586-9625-0003ce35010a could not be found.
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: Usage has been already billed and invoiced, and can no longer be modified 03c816b4-60a2-4586-9625-3ce3bc65010a
  /usage/query:
    get:
      summary: Query usage records
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves information about usage records.

        You can specify certain response fields you want to retrieve by specifying the `fields` and `filters` query parameters. By default, all the response fields are returned in the response.
      operationId: GET_UsageRecordsQuery
      tags:
        - Usage (with Active Rating)
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: fields
          in: query
          description: |
            The fields of the usage records you want to retrieve. By default, all the fields in the **Responses** section are returned.

            Use commas to separate the field names. You can specify any fields described in the **Responses** section. For example: `/usage/query?fields=tag,quantity,id`
          required: false
          type: string
        - name: filters
          in: query
          description: |
            This parameter restricts the data returned in the response. You can use this parameter to supply a dimension you want to filter on.

            A single filter uses the following form:

            *field_name* *operator* *field_value*

            Supported operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `IS NULL`, `IS NOT NULL`, `IN` (The letters are not case sensitive.)

            You can specify any fields except for the custom fields described in the **Responses** section. Filters can be combined using the `AND` boolean logic. For example: *field_name* *operator* *field_value* AND *field_name* *operator* *field_value*

            Currently, the fields in filters must include at least one of the following fields: `accountNumber`, `status`, `uniqueKey`, and `updatedOn`.

            Examples:

            - /usage/query?filters= (id ='035e35bd-880a-47c9-99df-830143b13aed' AND status='Pending')

            - /usage/query?fields=tag,id&filters= (quantity > 10 AND status='Pending')

            - /usage/query?filters=(status in ('Pending','Rated'))
          required: false
          type: string
        - $ref: '#/parameters/GLOBAL_HEADER_page_Usage'
        - $ref: '#/parameters/GLOBAL_HEADER_pageSize_Usage'
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/QueryUsageResponseType'
          examples:
            application/json:
              data:
                - id: 63b75b21-64a8-410e-a391-13865261933c
                  accountNumber: A000003
                  tag: ChargeNumber:C-00000001
                  quantity: 50
                  unitOfMeasure: Each
                  groupId: B
                  startDateTime: '2017-02-03T00:00:00Z'
                  uniqueKey: null
                  description: null
                  importId: null
                  fileName: null
                  status: Pending
                  customFields:
                    username: Grace
                    age: 28
                  createdOn: '2017-11-23T07:52:08.673Z'
                  createdBy: c189f9bd-e529-457a-9b8a-102fe0a5bc4f
                  updatedOn: '2017-11-23T07:52:08.673Z'
                  updatedBy: c189f9bd-e529-457a-9b8a-102fe0a5bc4f
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: An internal error occurred. Please retry the request.
  /usage/stream-query:
    get:
      summary: Query usage records in stream
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves information about usage records in a stream without pagination.

        You can specify certain response fields you want to retrieve by sepcifying the `fields` and `filters` query parameters. By default, all the reponse fields are returned in the response.

        The value of the `filters` parameter must be [URL-encoded](https://developer.mozilla.org/en-US/docs/Glossary/percent-encoding). If you want to use a plus sign `+` in the endpoint URL, you must replace the plus sign `+` with `%2B`. For example, if you use `/usage/stream-query?filters=(status='Pending' and startDateTime > '2018-04-04T13:32:37+08:00') ` in the endpoint URL, an error occurs. You have to use `/usage/stream-query?filters=(status='Pending' and startDateTime > '2018-04-04T13:32:37%2B08:00') ` instead.
      operationId: GET_UsageRecordsStreamQuery
      tags:
        - Usage (with Active Rating)
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: fields
          in: query
          description: |
            The fields of the usage records you want to retrieve. By default, all the fields in the **Responses** section are returned.

            Use commas to separate the field names. You can specify any fields described in the **Responses** section. For example: `/usage/stream-query?fields=tag,quantity,id,customFields.age`
          required: false
          type: string
        - name: filters
          in: query
          description: |
            This parameter restricts the data returned in the response. You can use this parameter to supply a dimension you want to filter on.

            A single filter uses the following form:

            *field_name* *operator* *field_value*

            Supported operators: `=`, `!=`, `>`, `<`, `>=`, `<=`, `IS NULL`, `IS NOT NULL`, `IN` (The letters are not case sensitive.)

            You can specify any fields, including the custom fields, described in the **Responses** section. Filters can be combined using the `AND` boolean logic. For example: *field_name* *operator* *field_value* AND *field_name* *operator* *field_value*

            Currently, the fields in filters must include at least one of the following fields: `accountNumber`, `unitOfMeasure`, `status`, `uniqueKey`, and `updatedOn`.

            Examples:

            - /usage/stream-query?filters= (id ='035e35bd-880a-47c9-99df-830143b13aed' AND status='Pending' AND customFields.age=20)

            - /usage/stream-query?fields=tag,id&filters= (quantity > 10 AND unitOfMeasure = 'GB')

            - /usage/stream-query?filters=(status in ('Pending','Rated'))
          required: false
          type: string
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/QueryUsageResponseType'
          examples:
            application/json:
              data:
                - id: 63b75b21-64a8-410e-a391-13865261933c
                  accountNumber: A000003
                  tag: ChargeNumber:C-00000001
                  quantity: 50
                  unitOfMeasure: Each
                  groupId: B
                  startDateTime: '2017-02-03T00:00:00Z'
                  uniqueKey: null
                  description: null
                  importId: null
                  fileName: null
                  status: Pending
                  customFields:
                    name: Grace
                    age: 28
                  createdOn: '2017-11-23T07:52:08.673Z'
                  createdBy: c189f9bd-e529-457a-9b8a-102fe0a5bc4f
                  updatedOn: '2017-11-23T07:52:08.673Z'
                  updatedBy: c189f9bd-e529-457a-9b8a-102fe0a5bc4f
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageErrorResponse'
          examples:
            application/json:
              error:
                message: An internal error occurred. Please retry the request.
  /usage-imports:
    post:
      summary: Import usage file
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Imports usage data by uploading a usage file.

        A usage file can be in comma-separated value (`.csv`), Microsoft Excel (`.xls`), or ZIP format. The maximum size of a usage file in CSV, Excel, or ZIP format to be uploaded is 20 MB. If the size of a usage file exceeds 20 MB, zip the usage file before uploading it. One ZIP file can only contain one CSV or Excel file.

        The name of a usage file cannot be longer than 50 characters, including the length of the file name extension.

        For more information about the usage file format, see [Usage Data Import](https://knowledgecenter.zuora.com/CB_Billing/J_Billing_Operations/H_Active_Rating/Usage_Data_Import).
      operationId: POST_ImportUsageFile
      consumes:
        - multipart/form-data
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: file
          in: formData
          type: file
          required: true
          description: |
            The path and name of the usage file to be imported.
        - name: description
          in: formData
          type: string
          required: false
          description: |
            The description of the usage file to be imported.
      tags:
        - Usage (with Active Rating)
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/POSTUsageImportResponseType'
          examples:
            application/json:
              id: 2ec7dc51-9171-48b1-b7e1-9eb915d12734
              status: PENDING
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
            Location:
              description: |
                The URL for your import file. After you have uploaded the file, Zuora assigns the file to this address.
              type: string
              format: uri
        '400':
          description: Bad Request
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageImportsErrorResponse'
          examples:
            application/json:
              error:
                message: Required request part 'file' is not present
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageImportsErrorResponse'
          examples:
            application/json:
              error:
                message: An internal error occurred. Please retry the request.
      x-code-samples:
        - lang: Curl
          source: |
            curl -X POST -H "Authorization: Bearer 66c7fc29ea984b049284d10f6b6328f5' -F "file=@UsageData.csv" -F "description=import testing" "https://rest.zuora.com/usage-imports"
    get:
      summary: Get usage imports
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves the information about all the usage import files, such as the processing status of the usage import files, the total number of usage records that are validated, and the number of usage records with validation errors.

        The response is in descending order by the date and time of the `updatedOn` field.
      operationId: GET_UsageImports
      tags:
        - Usage (with Active Rating)
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - $ref: '#/parameters/GLOBAL_HEADER_page_Usage'
        - $ref: '#/parameters/GLOBAL_HEADER_pageSize_Usage'
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/UsageImports'
          examples:
            application/json:
              data:
                - id: 2ec7dc51-9171-48b1-b7e1-9eb915d12734
                  name: Usages.csv
                  description: Usages
                  status: VALIDATED_FAILED
                  processStart: '2017-09-14T14:54:16+08:00'
                  processEnd: '2017-09-14T14:54:16+08:00'
                  totalCount: 2
                  errorCount: 2
                  importedCount: 0
                  createdBy: '10'
                  createdOn: '2017-09-14T14:54:15+08:00'
                  updatedBy: '10'
                  updatedOn: '2017-09-14T14:54:16+08:00'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageImportsErrorResponse'
          examples:
            application/json:
              error:
                message: An internal error occurred. Please retry the request.
  /usage-imports/{id}/detail:
    get:
      summary: Get details of usage import
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves the detailed information about a specified usage import file.
      operationId: GET_UsageImportDetails
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: id
          in: path
          description: |
            The ID of the usage import.
          required: true
          type: string
      tags:
        - Usage (with Active Rating)
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/GetUsageDetailResponseType'
          examples:
            application/json:
              id: 2ec7dc51-9171-48b1-b7e1-9eb915d12734
              name: Usages.csv
              description: Usages import
              status: VALIDATED_FAILED
              processStart: '2017-09-14T14:54:16+08:00'
              processEnd: '2017-09-14T14:54:16+08:00'
              totalCount: 2
              errorCount: 2
              importedCount: 0
              createdBy: '10'
              createdOn: '2017-09-14T14:54:15+08:00'
              updatedBy: '10'
              updatedOn: '2017-09-14T14:54:16+08:00'
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageImportsErrorResponse'
          examples:
            application/json:
              error:
                message: 'No usage import has been found (importId: 0574342c-d565-4fbf-bba3-262054ffd546)'
                errors:
                  - objectName: UsageImport
                    reason: ResourceNotFound
                    rejectedValue: 0574342c-d565-4fbf-bba3-262054ffd546
                    message: 'No usage import has been found (importId: 0574342c-d565-4fbf-bba3-262054ffd546)'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageImportsErrorResponse'
          examples:
            application/json:
              error:
                message: An internal error occurred. Please retry the request.
  /usage-imports/{id}/status:
    get:
      summary: Get status of usage import
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves the processing status of a specified usage import file.
      operationId: GET_UsageImportStatus
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: id
          in: path
          description: |
            The ID of the usage import.
          required: true
          type: string
      tags:
        - Usage (with Active Rating)
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/GETUsageImportStatusResponseType'
          examples:
            application/json:
              status: VALIDATED_FAILED
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageImportsErrorResponse'
          examples:
            application/json:
              error:
                message: 'No usage import has been found (importId: 0574342c-d565-4fbf-bba3-262054ffd546)'
                errors:
                  - objectName: UsageImport
                    reason: ResourceNotFound
                    rejectedValue: 0574342c-d565-4fbf-bba3-262054ffd546
                    message: 'No usage import has been found (importId: 0574342c-d565-4fbf-bba3-262054ffd546)'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageImportsErrorResponse'
          examples:
            application/json:
              error:
                message: An internal error occurred. Please retry the request.
  /usage-imports/{id}/import-file:
    get:
      summary: Download usage import file
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Downloads a usage import file with the specified usage import ID.
      operationId: GET_DownloadUsageImportFile
      produces:
        - application/octet-stream
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: id
          in: path
          description: |
            The ID of the usage import.
          required: true
          type: string
      tags:
        - Usage (with Active Rating)
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageImportsErrorResponse'
          examples:
            application/json:
              error:
                message: 'No usage import has been found (importId: 0574342c-d565-4fbf-bba3-262054ffd546)'
                errors:
                  - objectName: UsageImport
                    reason: ResourceNotFound
                    rejectedValue: 0574342c-d565-4fbf-bba3-262054ffd546
                    message: 'No usage import has been found (importId: 0574342c-d565-4fbf-bba3-262054ffd546)'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageImportsErrorResponse'
          examples:
            application/json:
              error:
                message: An internal error occurred. Please retry the request.
  /usage-imports/{id}/errors:
    get:
      summary: Download usage import failure file
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Downloads the corresponding usage import failure file when a usage file fails to be imported. Usage import failure files are only available for usage import files in VALIDATED_FAILED status.

        The downloaded usage import failure file is in ZIP format, and contains the error information about each usage record failing to be imported.
      operationId: GET_DownloadUsageImportFailureFile
      produces:
        - application/octet-stream
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: id
          in: path
          description: |
            The ID of the usage import.
          required: true
          type: string
      tags:
        - Usage (with Active Rating)
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageImportsErrorResponse'
          examples:
            application/json:
              error:
                message: 'No usage import has been found (importId: 0574342c-d565-4fbf-bba3-262054ffd546)'
                errors:
                  - objectName: UsageImport
                    reason: ResourceNotFound
                    rejectedValue: 0574342c-d565-4fbf-bba3-262054ffd546
                    message: 'No usage import has been found (importId: 0574342c-d565-4fbf-bba3-262054ffd546)'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          schema:
            $ref: '#/definitions/CommonUsageImportsErrorResponse'
          examples:
            application/json:
              error:
                message: An internal error occurred. Please retry the request.
  /usage-imports/templates/{fileType}:
    get:
      summary: Download usage file template
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Downloads a usage file template. The usage file template can be in comma-separated value (`.csv`) or Microsoft Excel (`.xls`) format.

        After the template is downloaded, you can create a usage file based on the template and add usage records to the file.
      operationId: GET_DownloadUsageFileTemplate
      tags:
        - Usage (with Active Rating)
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: fileType
          in: path
          description: |
            The type of the usage file template to be downladed.
          required: true
          type: string
          enum:
            - csv
            - xls
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
  /rating/rated-results/account/{accountNumber}:
    get:
      summary: Get rating results by account
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves the rating result of all the usage charges associated with the specified customer account. The response returns the rating amount of the charges based on billing period.

        By default, the response data is displayed in descending order by updated time.

        You can specify the date range for which you want to rate in the `fromDate` and `toDate` query parameters. For example: /rated-results/account/*accountNumber*?fromDate=2016-08-01&toDate=2016-08-21
      operationId: GET_RatingResultsByAccount
      tags:
        - Usage (with Active Rating)
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: accountNumber
          in: path
          description: |
            The account number. For example, A00000001.
          required: true
          type: string
        - name: fromDate
          in: query
          description: |
            The start date of the date range for which you want to rate. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.

            You can specify this parameter to restrict the data returned in the response. Make sure you specify a valid date in this query parameter:

            - If you only specify the `fromDate` query parameter but do not specify the `toDate` query parameter:

              `endDate` > `fromDate`


            - If you specify both the `fromDate` and `toDate` query parameters:

              `startDate` <= `toDate` and `endDate` > `fromDate`

            `startDate` is the start date of the rating result. `endDate` is the end date of the rating result.
          required: false
          type: string
          format: date
        - name: toDate
          in: query
          description: |
            The end date of the date range for which you want to rate. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.

            You can specify this parameter to restrict the data returned in the response. Make sure you specify a valid date in this query parameters:
            - If you only specify the `toDate` query parameter but do not specify the `fromDate` query parameter:

              `startDate` <= `toDate`


            - If you specify both the `fromDate` and `toDate` query parameters:

              `startDate` <= `toDate` and `endDate` > `fromDate`

            `startDate` is the start date of the rating result. `endDate` is the end date of the rating result.
          required: false
          type: string
          format: date
        - $ref: '#/parameters/GLOBAL_HEADER_Cursor'
        - $ref: '#/parameters/GLOBAL_HEADER_pageSize_Usage'
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              dataSet:
                - id: c42e3a08-e439-4238-aeb8-17fd7a0f1201
                  startDate: '2016-02-01'
                  endDate: '2016-02-29'
                  amount: 5000
                  chargeNumber: C-00000037
                  subscriptionNumber: A-S00007532
                  accountNumber: A00015562
                  currency: USD
                  additionalInfo:
                    uom: Each
                    quantity: 50
                  ratedTime: '2017-05-17T09:23:45.288Z'
              cursor: null
              count: 1
              hasMore: false
          schema:
            $ref: '#/definitions/GetRatedResultsType'
        '400':
          description: Bad Request
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: invalid_date_format
                  message: Invalid format(field fromDate,value 201-08-01)
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: invalid_resource
                  message: Invalid resource (/rating/ratedresults/account/)
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: unknown
                  message: Internal error, please contact Zuora support
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
  /rating/rated-results/subscription/{subscriptionNumber}:
    get:
      summary: Get rating results by subscription
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves the rating result of all the usage charges associated with the specified subscription. The rating is based on billing period.


        You can specify the date range for which you want to rate in the `fromDate` and `toDate` query parameters. For example: /rated-results/subscription/*subscriptionNumber*?fromDate=2016-08-01&toDate=2016-08-21
      operationId: GET_RatingResultsBySubscripiton
      tags:
        - Usage (with Active Rating)
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: subscriptionNumber
          in: path
          description: |
            The subscription number. For example, A-S00000001.
          required: true
          type: string
        - name: fromDate
          in: query
          description: |
            The start date of the date range for which you want to rate. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.


            You can specify this parameter to restrict the data returned in the response. Make sure you specify a valid date in this query parameter:

            - If you only specify the `fromDate` query parameter but do not specify the `toDate` query parameter:

              `endDate` > `fromDate`


            - If you specify both the `fromDate` and `toDate` query parameters:

              `startDate` <= `toDate` and `endDate` > `fromDate`

            `startDate` is the start date of the rating result. `endDate` is the end date of the rating result.
          required: false
          type: string
          format: date
        - name: toDate
          in: query
          description: |
            The end date of the date range for which you want to rate. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.

            Make sure you specify a valid date in this query parameters:
            - If you only specify the `toDate` query parameter but do not specify the `fromDate` query parameter:

              `startDate` <= `toDate`


            - If you specify both the `fromDate` and `toDate` query parameters:

              `startDate` <= `toDate` and `endDate` > `fromDate`

            `startDate` is the start date of the rating result. `endDate` is the end date of the rating result.
          required: false
          type: string
          format: date
        - $ref: '#/parameters/GLOBAL_HEADER_Cursor'
        - $ref: '#/parameters/GLOBAL_HEADER_pageSize_Usage'
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              dataSet:
                - id: c42e3a08-e439-4238-aeb8-17fd7a0f1201
                  startDate: '2016-02-01'
                  endDate: '2016-02-29'
                  amount: 5000
                  chargeNumber: C-00000037
                  subscriptionNumber: A-S00007532
                  accountNumber: A00015562
                  currency: USD
                  additionalInfo:
                    uom: Each
                    quantity: 50
                  ratedTime: '2017-05-17T09:23:45.288Z'
              cursor: null
              count: 1
              hasMore: false
          schema:
            $ref: '#/definitions/GetRatedResultsType'
        '400':
          description: Bad Request
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: invalid_date_format
                  message: Invalid format(field fromDate,value 201-08-01)
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: invalid_resource
                  message: Invalid resource (/rating/ratedresults/subscription/)
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: unknown
                  message: Internal error, please contact Zuora support
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
  /rating/rated-results/charge/{chargeNumber}:
    get:
      summary: Get rating results by charge
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves the rating result of all the usage charges associated with the specified rate plan charge. The rating is based on billing period.

        You can specify the date range for which you want to rate in the `fromDate` and `toDate` query parameters. For example: /rated-results/charge/*chargenNumber*?fromDate=2016-08-01&toDate=2016-08-21
      operationId: GET_RatingResultsByCharge
      tags:
        - Usage (with Active Rating)
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: chargeNumber
          in: path
          description: |
            The charge number. For example, C-00000001.
          required: true
          type: string
        - name: fromDate
          in: query
          description: |
            The start date of the date range for which you want to rate. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.

            You can specify this parameter to restrict the data returned in the response. Make sure you specify a valid date in this query parameter:

            - If you only specify the `fromDate` query parameter but do not specify the `toDate` query parameter:

              `endDate` > `fromDate`


            - If you specify both the `fromDate` and `toDate` query parameters:

              `startDate` <= `toDate` and `endDate` > `fromDate`

            `startDate` is the start date of the rating result. `endDate` is the end date of the rating result.
          required: false
          type: string
          format: date
        - name: toDate
          in: query
          description: |
            The end date of the date range for which you want to rate. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.

            Make sure you specify a valid date in this query parameters:
            - If you only specify the `toDate` query parameter but do not specify the `fromDate` query parameter:

              `startDate` <= `toDate`


            - If you specify both the `fromDate` and `toDate` query parameters:

              `startDate` <= `toDate` and `endDate` > `fromDate`

            `startDate` is the start date of the rating result. `endDate` is the end date of the rating result.
          required: false
          type: string
          format: date
        - $ref: '#/parameters/GLOBAL_HEADER_Cursor'
        - $ref: '#/parameters/GLOBAL_HEADER_pageSize_Usage'
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              dataSet:
                - id: c42e3a08-e439-4238-aeb8-17fd7a0f1201
                  startDate: '2016-02-01'
                  endDate: '2016-02-29'
                  amount: 5000
                  chargeNumber: C-00000037
                  subscriptionNumber: A-S00007532
                  accountNumber: A00015562
                  currency: USD
                  additionalInfo:
                    uom: Each
                    quantity: 50
                  ratedTime: '2017-05-17T09:23:45.288Z'
              cursor: null
              count: 1
              hasMore: false
          schema:
            $ref: '#/definitions/GetRatedResultsType'
        '400':
          description: Bad Request
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: invalid_date_format
                  message: Invalid format(field fromDate,value 201-08-01)
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: invalid_resource
                  message: Invalid resource (/rating/ratedresults/charge/)
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: unknown
                  message: Internal error, please contact Zuora support
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
  /rating/rated-usages/account/{accountNumber}:
    get:
      summary: Get rated usage by account
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves the rating result of the usage records associated with the specified customer account. The response returns the rating result of each usage record.

        You can specify the date range for which you want to get the usage rating result in the `fromDate` and `toDate` query parameters. For example: /rated-usages/account/*accountNumber*?fromDate=2016-08-01&toDate=2016-08-21
      operationId: GET_UsageRatingByAccount
      tags:
        - Usage (with Active Rating)
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: accountNumber
          in: path
          description: |
            The account number. For example, A00000001.
          required: true
          type: string
        - name: fromDate
          in: query
          description: |
            The start date of the date range for which you want to get the rating result. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.

            You can specify this parameter to restrict the data returned in the response. Make sure you specify a valid date in this query parameter:

            - If you only specify the `fromDate` query parameter but do not specify the `toDate` query parameter:

              `startDate` >= `fromDate`


            - If you specify both the `fromDate` and `toDate` parameters:

              `startDate` >= `fromDate` and `startDate` <= `toDate`

            `startDate` is the start date when the usage is consumed in your tenant time zone.
          required: false
          type: string
          format: date
        - name: toDate
          in: query
          description: |
            The end date of the date range for which you want to get the rating result. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.

            Make sure you specify a valid date in this query parameters:
            - If you only specify the `toDate` query parameter but do not specify the `fromDate` query parameter:

              `startDate` <= `toDate`


            - If you specify both the `fromDate` and `toDate` query parameters:

              `startDate` >= `fromDate` and `startDate` <= `toDate`

            `startDate` is the start date when the usage is consumed in your tenant time zone.
          required: false
          type: string
          format: date
        - $ref: '#/parameters/GLOBAL_HEADER_Cursor'
        - $ref: '#/parameters/GLOBAL_HEADER_pageSize_Usage'
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              dataSet:
                - id: 0a3e8fd8-2613-41c9-99e5-c13be7fb9268
                  startDate: '2016-01-05'
                  amount: 2500
                  currency: USD
                  chargeNumber: C-00000037
                  subscriptionNumber: A-S00007532
                  accountNumber: A00015562
                  quantity: 25
                  unitOfMeasure: Each
                  usageId: 633223e8-7b5e-44d5-bba3-629f59f5ecbe
                  ratedResultId: c4df71b9-284b-4dff-b3c4-95763e7f74ea
                - id: 4785969a-e130-45f2-9935-c73681a3c21d
                  startDate: '2016-01-05'
                  amount: 2500
                  currency: USD
                  chargeNumber: C-00000037
                  subscriptionNumber: A-S00007532
                  accountNumber: A00015562
                  quantity: 25
                  unitOfMeasure: Each
                  usageId: 370d4ce8-6d29-4730-8ac9-4849e81ff13b
                  ratedResultId: c4df71b9-284b-4dff-b3c4-95763e7f74ea
              cursor: null
              count: 2
              hasMore: false
          schema:
            $ref: '#/definitions/GetRatedUsageResultsType'
        '400':
          description: Bad Request
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: invalid_date_format
                  message: Invalid format(field fromDate,value 201-08-01)
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: invalid_resource
                  message: Invalid resource (/rating/ratedusages/account/)
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: unknown
                  message: Internal error, please contact Zuora support
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
  /rating/rated-usages/subscription/{subscriptionNumber}:
    get:
      summary: Get rated usage by subscription
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves the rating result of the usage records associated with the specified subscription. The response returns the rating result of each usage record.

        You can specify the date range for which you want to get the rating result in the `fromDate` and `toDate` query parameters. For example: /rated-results/subscription/*subscriptionNumber*?fromDate=2016-08-01&toDate=2016-08-21
      operationId: GET_UsageRatingBySubscription
      tags:
        - Usage (with Active Rating)
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: subscriptionNumber
          in: path
          description: |
            The subscription number. For example, A-S00000001.
          required: true
          type: string
        - name: fromDate
          in: query
          description: |
            The start date of the date range for which you want to get the rating result. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.

            You can specify this parameter to restrict the data returned in the response. Make sure you specify a valid date in this query parameter:

            - If you only specify the `fromDate` query parameter but do not specify the `toDate` query parameter:

              `startDate` >= `fromDate`


            - If you specify both the `fromDate` and `toDate` parameters:

              `startDate` >= `fromDate` and `startDate` <= `toDate`

            `startDate` is the start date when the usage is consumed in your tenant time zone.
          required: false
          type: string
          format: date
        - name: toDate
          in: query
          description: |
            The end date of the date range for which you want to get the rating result. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.

            Make sure you specify a valid date in this query parameters:
            - If you only specify the `toDate` query parameter but do not specify the `fromDate` query parameter:

              `startDate` <= `toDate`

            - If you specify both the `fromDate` and `toDate` query parameters:

              `startDate` >= `fromDate` and `startDate` <= `toDate`

            `startDate` is the start date when the usage is consumed in your tenant time zone.
          required: false
          type: string
          format: date
        - $ref: '#/parameters/GLOBAL_HEADER_Cursor'
        - $ref: '#/parameters/GLOBAL_HEADER_pageSize_Usage'
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              dataSet:
                - id: 0a3e8fd8-2613-41c9-99e5-c13be7fb9268
                  startDate: '2016-01-05'
                  amount: 2500
                  currency: USD
                  chargeNumber: C-00000037
                  subscriptionNumber: A-S00007532
                  accountNumber: A00015562
                  quantity: 25
                  unitOfMeasure: Each
                  usageId: 633223e8-7b5e-44d5-bba3-629f59f5ecbe
                  ratedResultId: c4df71b9-284b-4dff-b3c4-95763e7f74ea
                - id: 4785969a-e130-45f2-9935-c73681a3c21d
                  startDate: '2016-01-05'
                  amount: 2500
                  currency: USD
                  chargeNumber: C-00000037
                  subscriptionNumber: A-S00007532
                  accountNumber: A00015562
                  quantity: 25
                  unitOfMeasure: Each
                  usageId: 370d4ce8-6d29-4730-8ac9-4849e81ff13b
                  ratedResultId: c4df71b9-284b-4dff-b3c4-95763e7f74ea
              cursor: null
              count: 2
              hasMore: false
          schema:
            $ref: '#/definitions/GetRatedUsageResultsType'
        '400':
          description: Bad Request
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: invalid_date_format
                  message: Invalid format(field fromDate,value 201-08-01)
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
        '404':
          description: Not Found
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: invalid_resource
                  message: Invalid resource (/rating/ratedusages/subscription/)
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
        '500':
          description: Internal Server Error
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              reasons:
                - code: unknown
                  message: Internal error, please contact Zuora support
          schema:
            $ref: '#/definitions/CommonRatingErrorResponse'
  /rating/rated-usages/charge/{chargeNumber}:
    get:
      summary: Get rated usage by charge
      description: |
        **Note:** This operation is available only if Active Rating is enabled. The Active Rating feature is in development. If you wish to have access to the feature, submit a request at [Zuora Global Support](http://support.zuora.com/).

        Retrieves the rating result of the usage records associated with the specified charge.  The response returns the rating result of each usage record.

        You can specify the date range for which you want to get the rating result in the `fromDate` and `toDate` query parameters. For example: /rated-results/charge/*chargenNumber*?fromDate=2016-08-01&toDate=2016-08-21
      operationId: GET_UsageRatingByCharge
      tags:
        - Usage (with Active Rating)
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Track_Id'
        - name: chargeNumber
          in: path
          description: |
            The charge number. For example, C-00000001.
          required: true
          type: string
        - name: fromDate
          in: query
          description: |
            The start date of the date range for which you want to get the rating result. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.

            You can specify this parameter to restrict the data returned in the response. Make sure you specify a valid date in this query parameter:

            - If you only specify the `fromDate` query parameter but do not specify the `toDate` query parameter:

              `startDate` >= `fromDate`


            - If you specify both the `fromDate` and `toDate` parameters:

              `startDate` >= `fromDate` and `startDate` <= `toDate`

            `startDate` is the start date when the usage is consumed in your tenant time zone.
          required: false
          type: string
          format: date
        - name: toDate
          in: query
          description: |
            The end date of the date range for which you want to get the rating result. The date must be in `yyyy-mm-dd` format. For example, 2007-12-03.

            Make sure you specify a valid date in this query parameters:
            - If you only specify the `toDate` query parameter but do not specify the `fromDate` query parameter:

              `startDate` <= `toDate`


            - If you specify both the `fromDate` and `toDate` query parameters:

              `startDate` >= `fromDate` and `startDate` <= `toDate`

            `startDate` is the start date when the usage is consumed in your tenant time zone.
          required: false
          type: string
          format: date
        - $ref: '#/parameters/GLOBAL_HEADER_Cursor'
        - $ref: '#/parameters/GLOBAL_HEADER_pageSize_Usage'
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
            application/json:
              dataSet:
                - id: 0a3e8fd8-2613-41c9-99e5-c13be7fb9268
                  startDate: '2016-01-05'
                  amount: 2500
                  currency: USD
                  chargeNumber: C-00000037
                  subscriptionNumber: A-S00007532
                  accountNumber: A00015562
                  quantity: 25
                  unitOfMeasure: Each
                  usageId: 633223e8-7b5e-44d5-bba3-629f59f5ecbe
                  ratedResultId: c4df71b9-284b-4dff-b3c4-95763e7f74ea
                - id: 4785969a-e130-45f2-9935-c73681a3c21d
                  startDate: '2016-01-05'
                  amount: 2500
                  currency: USD
                  chargeNumber: C-00000037
                  subscriptionNumber: A-S00007532
                  accountNumber: A00015562
                  quantity: 25
                  unitOfMeasure: Each
                  usageId: 370d4ce8-6d29-4730-8ac9-4849e81ff13b
                  ratedResultId: c4df71b9-284b-4dff-b3c4-95763e7f74ea
              cursor: null
              count: 2
              hasMore: false
          schema:
            $ref: '#/definitions/GetRatedUsageResultsType'
        '400':
          description: Bad Request
          headers:
            Zuora-Request-Id:
              type: string
              minLength: 36
              maxLength: 36
              description: |
                The Zuora internal identifier of the API call. You cannot control the value of this header.
            Zuora-Track-Id:
              type: string
              maxLength: 64
              description: |
                A custom identifier for tracing the API call. If you specified a tracing identifier in the request headers, Zuora returns the same tracing identifier. Otherwise, Zuora does not set this header.
          examples:
[...]
